# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/

# Wird von Xcode beim Öffnen des Projekts automatisch erzeugt und gehört
# niemandem ausser dem lokalen Rechner.
*.xcodeproj/project.xcworkspace/
*.xcworkspace/xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/
